# Byte-compiled / optimized / DLL files
__pycache__/
/**/__pycache__/
*.py[cod]
*$py.class

# for publishing
socket_oneline.egg-info/

# Log files
*.log

# output directories
/out/*
dist/
.coverage
.coverage.*

# local environment
/venv/

# jet-brains
/*/.idea/vcs.xml
/*/.idea/workspace.xml
/*/.idea/jsLibraryMappings.xml

# personal files
pf_*

