# emacs
/.#*
*~
.~lock.*

# publish
socket_oneline.egg-info/

# PyCharm
/.idea/vcs.xml
/.idea/workspace.xml

# Compiled Python bytecode
*.py[cod]
__pycache__/
/**/__pycache__/
*$py.class
.pytest_cache/

# UTs and other
.coverage
.coverage.*

# output directories
/out/*
dist
/dist/*
*.log

# local environment
/venv/

# personal files
pf*

